<!DOCTYPE html>
<html>
<head>
    <title>Nicolas Sirimongkol: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />  

    <link href="~/lib/Unify-v2.4/html/assets/css/unify-components.css" rel="stylesheet" />
    <link href="~/lib/Unify-v2.4/html/assets/css/unify-core.css" rel="stylesheet" />
    <link href="~/lib/Unify-v2.4/html/assets/css/unify-globals.css" rel="stylesheet" />
    <link href="~/lib/Unify-v2.4/html/assets/css/unify-style-switcher.css" rel="stylesheet" />
    <link href="~/lib/Unify-v2.4/html/assets/css/unify.css" rel="stylesheet" />
    <link href="~/lib/Unify-v2.4/html/unify-main/misc/dark-theme/assets/css/styles.dark-theme.css" rel="stylesheet" />
    <link href="~/lib/Unify-v2.4/html/assets/css/custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <header class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand"><i class="fa fa-icon-user-circle"></i> Nicolas Sirimongkol</div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
            </div>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="App" asp-action="Index">Home</a></li>
                    <li><a asp-controller="App" asp-action="Contact">Contact Me</a></li>
                    <li><a asp-controller="App" asp-action="Resume">Online Resume</a></li>
                </ul>
            </div>
        </header>
    </div>
    <section>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">Copyright 2017 Nicolas Sirimongkol</div>
    </footer>
      
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>