#contactForm {
    display: inline-block;
    position: relative;
}

#contactForm input[type=submit] {
    background-color:forestgreen;
    color:whitesmoke;
    width:auto;
}

#summarySection {

}

#headShot {
    padding: 10px;
    position: relative;
}

#contactFormToggle{
    cursor: pointer;
}