@{ 
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-offset-1">
        <div class="col-md-6">
            <h1>Hello World!</h1>
            <h4>I'm a motivated software engineer dedicated to quality software passionate about web development.  </h4>
            <p>
                Currently a junior attending California State University Los Angeles studying computer science. Starting my career in software testing, 
                I really developed a mindset for quality test driven
                software during my time and got inspired to pursue higher learning! After that I moved into software web development at the same company and continue to learn everyday.
                Please explore my site and feel free to reach out for any questions!
            </p>
        </div>
    </div>
    <div class="col-md-offset-9">
        <div id="headShot">
            <img src="~/img/ProfileImage.JPG" />
        </div>
    </div>
</div>


   