@{ 
    ViewBag.Title = "Home";
}

<div class="panel-default">
    <div class="col-md-offset-1">
        <div class="col-md-8">
            <h1 class="page-header">Hello World!</h1>
            <h4>I'm a motivated software engineer dedicated to quality software passionate about web development.  </h4>
            <p>
                Currently a junior attending California State University Los Angeles studying computer science. Starting my career in software testing, 
                I really developed a mindset for quality test driven
                software during my time and got inspired to pursue higher learning! After that I moved into software web development at the same company and continue to learn everyday.
                Please explore my site and feel free to reach out for any questions!
            </p>
        </div>
    </div>
    <div class="col-md-offset-9">
        <div id="headShot">
            <img src="~/img/ProfileImage.JPG" />
        </div>
    </div>
</div>

<div class ="col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Technical Skills</h4>
        </div>
        <div class="col-md-offset-2">
            <ul class="list-inline">
                <li class="list-group-item">HTML5</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">SASS</li>
                <li class="list-group-item">Java</li>
                <li class="list-group-item">C#</li>
                <li class="list-group-item">SQL</li>
                <li class="list-group-item">Angular</li>
                <li class="list-group-item">JS</li>
                <li class="list-group-item">Entity</li>
                <li class="list-group-item">Shell</li>
                <li class="list-group-item">Node.Js</li>
            </ul>
        </div>
    </div>
</div>


   