@{
    ViewBag.Title = "Home";
}


<body>
    <div class="frontPage">
        <div class="hero-text">
            <h1 class="hero-textLarge">Nicolas Sirimongkol</h1>
            <hr id="DivderHero">
            <h2 class="hero-textSmall">Software Engineer</h2>
        </div>

    </div>

    <section class="intro">
        <div class="col-md-offset-1">
            <div class="col-md-8">
                <h1 class="h1">Hello World, I'm Nick!</h1>
                I'm a motivated software engineer dedicated to quality software passionate about web development.
                <hr id="Divder">
                <p>
                    Currently a junior attending California State University Los Angeles studying computer science. Starting my career in software testing,
                    I really developed a mindset for quality test driven
                    software during my time and got inspired to pursue higher learning! After that I moved into software web development at the same company and continue to learn everyday.
                    Please explore my site and feel free to reach out for any questions!
                </p>
            </div>
        </div>
        <div class="col-md-offset-9">
            <div id="headShot">
                <img class="profilePicture" src="~/img/151592556086107186.jpg" />
            </div>
        </div>
    </section>

    <section class="g-bg-gray-dark-v1 g-color-white g-py-100">
        <div id="shortcode14">
            <div class="shortcode-html">
                <div class="row text-center">
                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <i class="fa-github-alt g-color-white-opacity-0_7 g-font-size-35 g-mb-25"></i>
                        <div id="value">326</div>
                        <h4 class="text-uppercase g-font-size-11 g-font-weight-600 g-mb-25">Commits</h4>
                        <p>Sed feugiat porttitor nunc Etiam gravida ex justo ac rhoncus.</p>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <i class="et-icon-focus g-color-white-opacity-0_7 g-font-size-35 g-mb-25"></i>
                        <div class="js-counter g-font-size-35" data-reduce-thousands-to="k">299000</div>
                        <h4 class="text-uppercase g-font-size-11 g-font-weight-600 g-mb-25">Photos</h4>
                        <p>Ivitae blandit massa luctus fermentum lorem quis elit vitae</p>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <i class="et-icon-camera g-color-white-opacity-0_7 g-font-size-35 g-mb-25"></i>
                        <div class="js-counter g-font-size-35">25</div>
                        <h4 class="text-uppercase g-font-size-11 g-font-weight-600 g-mb-25">Photographers</h4>
                        <p>Curabitur eget tortor sed urna nulla sed fringilla quam</p>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <i class="et-icon-map g-color-white-opacity-0_7 g-font-size-35 g-mb-25"></i>
                        <div class="js-counter g-font-size-35">167</div>
                        <h4 class="text-uppercase g-font-size-11 g-font-weight-600 g-mb-25">Places</h4>
                        <p>Duis dui turpis, consectetur non ultrices aliquam sapien</p>
                    </div>
                </div>
            </div>


        </div>

    </section>


    <br /><br />
</body>
