@{ 
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6">
        <h4>Hello World!</h4>
        <h1>Welcome to my site!</h1>
        <p>
            I'm a passionate software engineer who loves learning new things! I am currently a in college but I have had a lot of expereince in software!
            I started as a media intern doing quality insurance and worked my way into Software testing, and then into web development! Please explore my site and feel free to reach out for any questions!
        </p>
    </div>
    <div class="col-md-6">
        <div id="headShot">
            <img src="~/img/ProfileImage.JPG" />
        </div>
    </div>
</div>


   