@{
    ViewBag.Title = "Home";
}


<body>
    <div class="frontPage">
        <div class="hero-text">
            <h1 class="hero-textLarge">Nicolas Sirimongkol</h1>
            <hr id="DivderHero">
            <h2 class="hero-textSmall">Software Engineer</h2>
        </div>

    </div>

    <section class="intro">
        <div class="col-md-offset-1">
            <div class="col-md-8">
                <h1 class="h1">Hello World, I'm Nick!</h1>
                I'm a motivated software engineer dedicated to quality software passionate about web development.
                <hr id="Divder">
                <p>
                    Currently a junior attending California State University Los Angeles studying computer science. Starting my career in software testing,
                    I really developed a mindset for quality test driven
                    software during my time and got inspired to pursue higher learning! After that I moved into software web development at the same company and continue to learn everyday.
                    Please explore my site and feel free to reach out for any questions!
                </p>
            </div>
        </div>
        <div class="col-md-offset-9">
            <div id="headShot">
                <img class="profilePicture" src="~/img/151592556086107186.jpg" />
            </div>
        </div>
    </section>

    <section class="counter1">
        <div class="row text-center">
            <div class="center">
                <div class="col-lg-4 col-md-6 g-mb-30">
                    <header class="d-flex g-mb-40">
                        <div id="githubValue" class="g-font-size-35"></div>
                        <i class="fa fa-github-alt faa-pulse animated fa-4x"></i>
                        <h4 class="text-uppercase g-font-size-15 g-font-weight-600 g-mb-25">Commits</h4>
                        <p>Commits on Version Control</p>
                    </header>
                </div>

                <div class="col-lg-4 col-md-6 g-mb-30">
                    <div id="coffeeValue" class="g-font-size-35">860</div>
                    <i class="fa fa-coffee faa-wrench animated fa-4x"></i>
                    <h4 class="text-uppercase g-font-size-15 g-font-weight-600 g-mb-25">Cups of Coffee</h4>
                    <p>Java is in my life in more ways than one</p>
                </div>

                <div class="col-lg-4 col-md-6 g-mb-30">
                    <div id="classValue" class="g-font-size-35">37</div>
                    <i class="fa fa-book faa-horizontal animated fa-4x"></i>
                    <h4 class="text-uppercase g-font-size-15 g-font-weight-600 g-mb-25">Software Classes</h4>
                    <p>Classes taken at a university or secondary school</p>
                </div>
            </div>
        </div>
    </section>


    <br /><br />
</body>
